@font-face {
  font-family: "lemon";
  src: url(font/LEMONMILK-Bold.otf);
}


::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "lemon", "LEMONMILK-Bold", serif;
  flex-wrap: wrap;
}

body {
  background: white;
  height: auto;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: #b3b3b3;
}

h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.htg {
  color: white;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s ease;
}

i {
  color: white;
  align-items: center;
  padding: 0 10px;
  width: 26px;
  height: 26px;
}



.box-2 {
  position: sticky;
  display: flex;
  justify-content: center;
  /* flex-grow: 2; */
  padding: 0;
  margin: 0;
  /* align-items: center; */
  left: 26%;
  top: 0%;
  height: 50px;
  transition: all 400ms ease-in-out;
  z-index: 1;
}


.box-3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
  font-size: 12px;
  left: 1%;
  top: 26.5%;
}

#globe {
  padding-left: 10px;
  width: 25px;
  height: 25px;
}

#cart {
  padding: 0 10px;
  width: 25px;
  height: 25px;
}

/* NAVIGATION */


#myLinks {
  top: 23%;
  position: absolute;
  display: block;
  right: -20%;
  opacity: 0;
  transition: all 400ms ease-in-out;
}


.topnav a:hover {
  color: #121212;
}

.hamburger {
  position: absolute;
  right: 0%;
  top: 31%;
  transition: all 400ms ease-in-out;
}

.hamburger:hover {
  color: #121212;
}

.nav-font {
  color: whitesmoke;
  margin: 0px 3px;
  transition: all 400ms ease-in-out;
}

.nav-font:hover {
  color: #121212;
}

/* SHOWCASE */

.showcase {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 100vh;
}



.show-font {
  padding: 0px;
  margin: 0px;
  color: #121212;
  font-size: 44px;
}

p {
  margin: 0;
  padding: 5px;
  font-size: 15px;
  text-align: justify;
}

/* SHOWCASE(size chart) */

.showcase-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-fontsize {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #121212;
  font-size: 50px;
}

.box-2-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#shirt {
  width: 800px;
  height: auto;
}

table {
  justify-content: center;
  table-layout: fixed;
  width: 600px;
  padding: 20px 0 25px 0;
}

td,
th {
  padding: 7px;
  text-align: center;
  font-size: 12px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  background-color: #121212;
  height: 60px;
  padding: 0;
  margin: 0;
  align-items: center;
}

#fb {
  padding: 0px 5px;
  margin: 0px;
  width: 20px;
  height: 20px;
}

#ig {
  padding: 0px;
  margin: 0px;
  width: 20px;
  height: 20px;
}

.box-1-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 15px 0px 15px;
}

.foot-font {
  padding-bottom: 5px;
  font-size: 12px;
}

/* Carousel */

[type=radio] {
  display: none;
}

#slider {
  z-index: -1;
  top: -8%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all ease-in-out;
}

#slider label {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(-15%, 0, -1px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(15%, 0, -1px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(30%, 0, -200px);
}

#slide1 {
  object-fit: cover;
  background: url('/Designs/363676357_1275793169782289_3100520140899615000_n.png');
}

#slide2 {
  background: #4CAF50
}

#slide3 {
  background: #CDDC39
}

#slide4 {
  background: #FFC107
}

#slide5 {
  background: #FF5722
}

.right {
  position: absolute;
  right: 0%;
}


.vault {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 14px 3%;
  padding: 0 0 39px;
}

.text {
  top: 106%;
  position: absolute;
  left: 43%;
  font-family: lemon;
  color: #121212;
}

.shirt {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 309px;
  height: 250px;
  margin: 0;
}

@font-face {
  font-family: 'nonito';
  src: url('/font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

.shirt h2 {
  position: absolute;
  margin: 76% 15% 0 15%;
  font-size: 18px;
  font-family: 'nonito';
  font-weight: 300;
}

.shirt p {
  position: absolute;
  margin: 84% 0% 0 14%;
  font-family: 'nonito';
  font-weight: 300;
}

.shirt img {
  right: 19%;
  position: absolute;
  width: 70%;
  height: auto;
  top: 10%;
}

#quickView1,
#quickView2,
#quickView3,
#quickView4,
#quickView5,
#quickView6,
#quickView7,
#quickView8 {
  opacity: 0;
  z-index: 1;
  left: 19%;
  top: 43%;
  position: absolute;
  width: 50%;
  height: 15%;
  color: whitesmoke;
  /* From https://css.glass */
  background: rgba(28, 27, 27, 0.66);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(28, 27, 27, 0.3);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.shirt:hover #quickView1,
.shirt:hover #quickView2,
.shirt:hover #quickView3,
.shirt:hover #quickView4,
.shirt:hover #quickView5,
.shirt:hover #quickView6,
.shirt:hover #quickView7,
.shirt:hover #quickView8 {
  opacity: 1;
}


.quick {
  display: block;
  opacity: 0;
  position: absolute;
  width: 93%;
  height: 61%;
  margin: 0;
  padding: 42px 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 400ms ease-in-out;
}

.quick h2 {
  position: absolute;
  top: 8%;
  right: 27%;
  font-size: 19px;
  font-family: 'nonito';
  font-weight: 300;
}

.quick img {
  position: relative;
  left: 9%;
  margin: -3% 0 0 0;
}

.quick p {
  position: absolute;
  top: 15%;
  right: 36%;
  font-family: 'nonito';
  font-weight: 300;
}

.size {
  position: absolute;
  top: 27%;
  right: 39%;
  font-family: 'nonito';
  font-weight: 300;
  font-size: 14px;
}

.sizeOption {
  position: absolute;
  top: 31%;
  right: 34.5%;
}

.qty {
  position: absolute;
  top: 42%;
  right: 37%;
  font-family: 'nonito';
  font-weight: 300;
  font-size: 14px;
}

.qtyOption {
  position: absolute;
  top: 47%;
  right: 38.5%;
}

#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#button7,
#button8 {
  position: absolute;
  top: 57%;
  right: 26.5%;
  width: 15%;
  height: 10%;
  color: whitesmoke;
  background: rgba(28, 27, 27, 0.66);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(28, 27, 27, 0.3);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover,
#button5:hover,
#button6:hover,
#button7:hover,
#button8:hover {
  background-color: rgb(4, 158, 158);
}


#x1,
#x2,
#x3,
#x4,
#x5,
#x6,
#x7,
#x8 {
  position: absolute;
  font-size: 20px;
  right: 14%;
  top: 7%;
  color: #121212;
  cursor: pointer;
}